.preguntasBg{
    background-color: #fff;
}
.tituloPreguntasBg{
    background-color: #36aea5;
}
h2, h1{
    color: #fff;
}
.img-question{
    width: 100%;
}


h2{
    color: #fff;
}

.p-top{
 padding-top: 180px;
}

.txt-white{
    color:#FFF;
}

p{
    color: #198754;
}