.preguntasBg{
  
    padding-top: 40px;
    padding-bottom: 40px;
    background:rgba(0, 0, 0, 0.6);

}

h2{
color: #fff;
}

.p-top{
padding-top: 40px;
}

.txt-white{
color:#FFF;
}

p{
    color: #198754;
    font-size: 18px;
}

div{
    margin-bottom: 30px;
}

.img-fluid{
    width: 500px;
    
}

 h1{
    color:#FFF;
}