.preguntasBg{
  
        padding-top: 70px;
        padding-bottom: 40px;
        background:rgba(0, 0, 0, 0.6);
    
}

h2{
    color: #fff;
}

.p-top{
 padding-top: 180px;
}

.txt-green{
    color:#FFF;
}

p{
    color: #198754;
}
