<app-navbar></app-navbar>
<div class="container">
    <h1 class="text-center">PREGUNTAS FRECUENTES</h1>
    <hr>
    <img class="img-fluid img-question" src="./assets/img/question.jpg" alt="">
    <div class="row preguntasBg">
        <div class="col-12 text-center">
            <!-- Pregunta 1 -->
            <h2 class="tituloPreguntasBg">¿Cual es la cantidad máxima de números que puede tener una rifa?</h2>
            <p>Debido a que el número ganador de RifaloTodo proviene de los números que sortea el juego de azar Chileno llamado Loto, la cantidad máxima de números por tipo es 'Loto 3: #10 números', 'Loto 4: #23 números' y 'Loto Clasico: #41 números'. Por ahora no existen otras cantidades, favor no insistir.</p>
            <hr>
            <!-- Pregunta 2 -->
            <h2 class="tituloPreguntasBg">¿Cuál es el tiempo de duración de una rifa?</h2>
            <p>La duración de una rifa depende directamente de que tan rápido se vendan todos sus números, una vez ocurrido esto, la rifa programa su lanzamiento. El tiempo máximo de vigencia de una rifa es de 1 mes, posterior a ello si no ha vendido todos sus números, se da de baja y se rembolsan los números comprados a las wallet en RifaloTodo de los respectivos compradores.</p>
            <hr>
            <!-- Pregunta 3 -->
            <h2 class="tituloPreguntasBg">¿Existe algún cobro o comisión que haya que considerar y que se descuenta del valor final?</h2>
            <p>Existe un recargo del 10% por uso de la plataforma para todas aquellas rifas que hayan culminado exitosamente, es decir, que el ganador confirme la recepción del premio. Luego de lo anterior, los montos recolectados (menos el recargo) serán liberados en la wallet del organizador</p>
            <hr>
            <!-- Pregunta 4 -->
            <h2 class="tituloPreguntasBg">¿Cuánto tiempo posterior al lanzamiento de la rifa me transfieren el monto recolectado?</h2>
            <p>Se liberan los montos recolectados una vez que el ganador notifique la recepción del premio, el total de lo recolectado menos el recargo serán cargados en la wallet del organizador y podrán ser transferidos donde se requiera.</p>
            <hr>
            <!-- Pregunta 5 -->
            <h2 class="tituloPreguntasBg">¿Puedo rifar un automóvil en esta plataforma?</h2>
            <p>Si, pero se debe considerar que existe un máximo de 41 números por lo que si el premio tiene un valor alto los número de rifa tambien lo tendrán y esto puede ser un impedimiento para los potenciales compradores.</p>
            <hr>
            <!-- Pregunta 6 -->
            <h2 class="tituloPreguntasBg">¿Qué pasa con el envío del premio, corre por cuenta del concursante u organizador?</h2>
            <p>A la hora de crear la rifa, en la configuración de esta se define la forma de entrega, existen varias opciones, recomendamos la opción “previo acuerdo” y agregar las condiciones en la descripción de la rifa.</p>
            <hr>
            <!-- Pregunta 7 -->
            <h2 class="tituloPreguntasBg">¿Hay algún monto recomendado para el premio?</h2>
            <p>El valor por número se calcula a partir del valor del premio que vas a rifar, la plataforma te sugiere un valor a partir de si quieres ganar el doble, triple y hasta 4 veces el precio de premio.</p>
            <hr>
            <!-- Pregunta 8 -->
            <h2 class="tituloPreguntasBg">¿Puedo pagar o cobrar en una moneda diferente al peso Chileno (CLP)?</h2>
            <p>No, por ahora solo soportamos pagos y cobros en moneda nacional CLP.</p>
            <hr>
        </div>
    </div>
</div>



<app-footer></app-footer>
