<div class="container-fluid">
    <div class="row fondo">
        <div class="col-sm-12 col-md-12  col-lg-3 text-center"> 
            <a id="sitelink" href="#">Rifalo Todo</a>
            <p class="text">¿Tienes alguna duda, sugerencia o reclamo?</p>
            <p class="text">En caso de dudas, no olvides revisar la sección de "Preguntas Frecuentes". </p>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2 text-center">
            <p class="txt text-center">Explorar</p> <a class="link1" href="#">Inicio</a> <a class="link1" href="#">Sobre Nosotros</a> <a class="link1" href="#">Preguntas Frecuentes</a>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2 text-center">
            <p  class="txt">Contacto</p>
            <p class="text">Huelén 10, ooficina 403, </p>
            <p class="text">Providencia</p>
            <p class="text">Región metropolitana</p>
            <p class="text">Teléfono: +(56) 9 49485666 </p>
            <p class="text">Email: contacto@rifalotodo.cl </p>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2 text-center">
            <p class="txt text-center">Legal</p> <a class="link1" href="#">Terminos y Condiciones</a> <a class="link1" href="#">Politica de Privacidad</a>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-3 text-center">
            <p class="txt text-center">Redes Sociales</p> 
            <div class="col-12">
                <i class="fab fa-facebook-square social fa-2x"></i>
                <i class="fab fa-google fa-facebook-square social fa-2x"></i> 
                <i class="fab fa-twitter-square social fa-2x"></i>
            </div>
           
        </div>
    </div> 
    <div class="row fondo2">
        <p class="txt2"><i class="material-icons tiny"></i>copyright 2021 - All right reserved</p>
    </div>
</div>
  



