.fondo {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #292929
}
.fondo2 {
    height: 50px;
    background-color: black;
    top: -15px
}


#sitelink {
    font-size: 35px;
    color: #FFC312;
}

#sitelink:hover {
    color: #fff;
}


.txt {
    color: white;
    font-size: 20px
}

.txt2 {
    color: white;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
}


.link1:hover {
    color: #e65100
}

.text {
    color: #aaa7a7;
    font-size: 14px;
    margin-bottom: 0px;
}

.link1 {
    display: block;
    text-align: center;
    height: 40px;
    color: #aaa7a7;
    background-color: transparent;
    border-top: 2px solid white;
    position: relative;
    padding-top: 8px;
    margin-bottom: 0px;
}


.social {
    position: relative;
    top: -5px;
    margin-right: 10px;
    color: white;
    cursor: pointer
}

.fa-facebook-square:hover {
    color: #3B579D
}

.fa-google-square:hover {
    color: #3B579D
}

.fa-linkedin:hover {
    color: #007BB6
}

.fa-twitter-square:hover {
    color: #2CAAE1
}



.material-icons {
    position: relative;
    top: 3px
}



