<div class="container-fluid footerBgColor pt-5">
    <div class="row">
        <div class="col-4">
            <!-- Logo Image here ! -->
            <p class="textFooterColor">Tienes alguna duda? Sugerencia? o Reclamo?
                En caso de dudas, no olvides revisar la sección de "PREGUNTAS FRECUENTES".</p>
        </div>
        <div class="col-4 textFooterColor">
            <h3>Contactanos</h3>
            <p>Dirección: Huelén 10, oficina 403, Providencia, Región metropolitana</p>            
            <p>Teléfono: +9 4948 5666</p>        
            <p>Email: contacto@rifalotodo.cl</p>
        </div>
        <div class="col-4 textFooterColor">
            <h3>Redes sociales</h3>
            <p>Sigenos en nuestras <strong>REDES SOCIALES</strong> y enterate de todo !</p>
            <!-- Iconos aquí -->
        </div>   
        <div class="col-12">
            <p class="textFooterColor copyrightBg text-center  pt-3 pb-3">Copyright 2021</p>
        </div>    
    </div>
</div>

