<div class="container-fluid footerBgColor padd">
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <p class="textFooterColor">Tienes alguna duda? Sugerencia? o Reclamo?
                En caso de dudas, no olvides revisar la sección de "PREGUNTAS FRECUENTES".</p>
        </div>
        <div class="col-sm-6 col-md-4 textFooterColor">
            <h3>Contactanos</h3>
            <p>Dirección: Huelén 10, oficina 403, Providencia, Región metropolitana</p>            
            <p>Teléfono: +9 4948 5666</p>        
            <p>Email: contacto@rifalotodo.cl</p>
        </div>
        <div class="col-sm-12 col-md-4 textFooterColor">
            <h3>Redes sociales</h3>
            <p>Sigenos en nuestras <strong>REDES SOCIALES</strong> y enterate de todo !</p>
            <!-- Iconos aquí -->
            <div class="row sM">
                <div class="col-1">
                    <i class="fab fa-facebook"></i>
                </div>
                <div class="col-1">
                    <i class="fab fa-google"></i>
                </div>
                <div class="col-1">
                    <i class="fab fa-twitter"></i>
                </div>
            </div>
        </div>           
    </div>
</div>

    <div class="container-fluid textFooterColor copyrightBg">
        <div class="row ">
            <div class="col-12">
                <p class="  text-center  pt-3 pb-3">Copyright 2021</p>
            </div>  
        </div>
          
    </div>



