.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

 .contenedor-img{
     height: 500px;
 }

 .imgCarousel{
     max-width: 100%;
     width:auto;
     height:auto;
 }