<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-4"> 
            <div class="card2 border-success" >
                <p class="title">Hace 2 horas</p>
                <img class="card-img-top" src="./assets/img/premio1.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Perfume</h5>
                    <div class="row">
                        <div class="col-6">
                            Números comprados
                            <strong>0/41</strong>
                        </div>
                        <div class="col-6">
                            Valor N° rifa
                            <strong>$3.000 clp</strong>
                        </div>
                    </div>
                    <div class="contBtn">
                        <a routerLink="/detalle-rifa" class="btn btn-warning">Ver más</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4"> 
            <div class="card2 border-success" >
                <p class="title">Hace 3 horas</p>
                <img class="card-img-top" src="./assets/img/premio2.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Airpods</h5>
                    <div class="row">
                        <div class="col-6">
                            Números comprados
                            <strong>4/41</strong>
                        </div>
                        <div class="col-6">
                            Valor N° rifa
                            <strong>$1.000 clp</strong>
                        </div>
                    </div>
                    <div class="contBtn">
                        <a routerLink="/detalle-rifa" class="btn btn-warning">Ver más</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4"> 
            <div class="card2 border-success" >
                <p class="title">Hace 4 horas</p>
                <img class="card-img-top" src="./assets/img/premio3.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Pistola Silicona</h5>
                    <div class="row">
                        <div class="col-6">
                            Números comprados
                            <strong>10/41</strong>
                        </div>
                        <div class="col-6">
                            Valor N° rifa
                            <strong>$1.000 clp</strong>
                        </div>
                    </div>
                    <div class="contBtn">
                        <a routerLink="/detalle-rifa" class="btn btn-warning">Ver más</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-4"> 
            <div class="card2 border-success" >
                <p class="title">Hace 6 horas</p>
                <img class="card-img-top" src="./assets/img/premio4.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Xiaomi smart band</h5>
                    <div class="row">
                        <div class="col-6">
                            Números comprados
                            <strong>0/41</strong>
                        </div>
                        <div class="col-6">
                            Valor N° rifa
                            <strong>$1.500 clp</strong>
                        </div>
                    </div>
                    <div class="contBtn">
                        <a routerLink="/detalle-rifa" class="btn btn-warning">Ver más</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4"> 
            <div class="card2 border-success" >
                <p class="title">Hace 7 horas</p>
                <img class="card-img-top" src="./assets/img/premio5.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Cobertor 2 plazas</h5>
                    <div class="row">
                        <div class="col-6">
                            Números comprados
                            <strong>14/41</strong>
                        </div>
                        <div class="col-6">
                            Valor N° rifa
                            <strong>$1.000 clp</strong>
                        </div>
                    </div>
                    <div class="contBtn">
                        <a routerLink="/detalle-rifa" class="btn btn-warning">Ver más</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4"> 
            <div class="card2 border-success" >
                <p class="title">Hace 8 horas</p>
                <img class="card-img-top" src="./assets/img/premio6.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Bolso Notebook</h5>
                    <div class="row">
                        <div class="col-6">
                            Números comprados
                            <strong>1/41</strong>
                        </div>
                        <div class="col-6">
                            Valor N° rifa
                            <strong>$2.000 clp</strong>
                        </div>
                    </div>
                    <div class="contBtn">
                        <a routerLink="/detalle-rifa" class="btn btn-warning">Ver más</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-4"> 
            <div class="card2 border-success" >
                <p class="title">Hace 9 horas</p>
                <img class="card-img-top" src="./assets/img/premio7.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Bolso Zapatero</h5>
                    <div class="row">
                        <div class="col-6">
                            Números comprados
                            <strong>9/41</strong>
                        </div>
                        <div class="col-6">
                            Valor N° rifa
                            <strong>$1.000 clp</strong>
                        </div>
                    </div>
                    <div class="contBtn">
                        <a routerLink="/detalle-rifa" class="btn btn-warning">Ver más</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4"> 
            <div class="card2 border-success" >
                <p class="title">Hace 12 horas</p>
                <img class="card-img-top" src="./assets/img/premio8.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Nintento Switch Lite</h5>
                    <div class="row">
                        <div class="col-6">
                            Números comprados
                            <strong>14/41</strong>
                        </div>
                        <div class="col-6">
                            Valor N° rifa
                            <strong>$3.000 clp</strong>
                        </div>
                    </div>
                    <div class="contBtn">
                        <a routerLink="/detalle-rifa" class="btn btn-warning">Ver más</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4"> 
            <div class="card2 border-success" >
                <p class="title">Hace 13 horas</p>
                <img class="card-img-top" src="./assets/img/premio9.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Iphone 8</h5>
                    <div class="row">
                        <div class="col-6">
                            Números comprados
                            <strong>20/41</strong>
                        </div>
                        <div class="col-6">
                            Valor N° rifa
                            <strong>$3.000 clp</strong>
                        </div>
                    </div>
                    <div class="contBtn">
                        <a routerLink="/detalle-rifa" class="btn btn-warning">Ver más</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-4"> 
            <div class="card2 border-success" >
                <p class="title">Hace 16 horas</p>
                <img class="card-img-top" src="./assets/img/premio10.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Whisky Johnnie Walker</h5>
                    <div class="row">
                        <div class="col-6">
                            Números comprados
                            <strong>30/41</strong>
                        </div>
                        <div class="col-6">
                            Valor N° rifa
                            <strong>$2.500 clp</strong>
                        </div>
                    </div>
                    <div class="contBtn">
                        <a routerLink="/detalle-rifa" class="btn btn-warning">Ver más</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4"> 
            <div class="card2 border-success" >
                <p class="title">Hace 18 horas</p>
                <img class="card-img-top" src="./assets/img/premio11.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Mochila Coleman</h5>
                    <div class="row">
                        <div class="col-6">
                            Números comprados
                            <strong>14/41</strong>
                        </div>
                        <div class="col-6">
                            Valor N° rifa
                            <strong>$3.000 clp</strong>
                        </div>
                    </div>
                    <div class="contBtn">
                        <a routerLink="/detalle-rifa" class="btn btn-warning">Ver más</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4"> 
            <div class="card2 border-success" >
                <p class="title">Hace 20 horas</p>
                <img class="card-img-top" src="./assets/img/premio12.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Cafetera Dolce Gusto</h5>
                    <div class="row">
                        <div class="col-6">
                            Números comprados
                            <strong>37/41</strong>
                        </div>
                        <div class="col-6">
                            Valor N° rifa
                            <strong>$3.000 clp</strong>
                        </div>
                    </div>
                    <div class="contBtn">
                        <a routerLink="/detalle-rifa" class="btn btn-warning">Ver más</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

