<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-4"> 
            <div class="card" >
                <p class="title">Hace 20 horas</p>
                <img class="card-img-top" src="./assets/img/premio1.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Perfume</h5>
                    <div class="row">
                        <div class="col-6">
                            Números comprados
                            <strong>0/41</strong>
                        </div>
                        <div class="col-6">
                            Valor N° rifa
                            <strong>$3.000 clp</strong>
                        </div>
                    </div>
                    <div class="contBtn">
                        <a href="/detalle-rifa" class="btn btn-warning">Ver más</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4"> 
            <div class="card" >
                <p class="title">Hace 12 horas</p>
                <img class="card-img-top" src="./assets/img/premio2.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Airpods</h5>
                    <div class="row">
                        <div class="col-6">
                            Números comprados
                            <strong>4/41</strong>
                        </div>
                        <div class="col-6">
                            Valor N° rifa
                            <strong>$1.000 clp</strong>
                        </div>
                    </div>
                    <div class="contBtn">
                        <a href="#" class="btn btn-warning">Ver más</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4"> 
            <div class="card" >
                <p class="title">Hace 8 horas</p>
                <img class="card-img-top" src="./assets/img/premio1.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Perfume</h5>
                    <div class="row">
                        <div class="col-6">
                            Números comprados
                            <strong>0/41</strong>
                        </div>
                        <div class="col-6">
                            Valor N° rifa
                            <strong>$3.000 clp</strong>
                        </div>
                    </div>
                    <div class="contBtn">
                        <a href="#" class="btn btn-warning">Ver más</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-4"> 
            <div class="card" >
                <p class="title">Hace 20 horas</p>
                <img class="card-img-top" src="./assets/img/premio1.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Perfume</h5>
                    <div class="row">
                        <div class="col-6">
                            Números comprados
                            <strong>0/41</strong>
                        </div>
                        <div class="col-6">
                            Valor N° rifa
                            <strong>$3.000 clp</strong>
                        </div>
                    </div>
                    <div class="contBtn">
                        <a href="#" class="btn btn-warning">Ver más</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4"> 
            <div class="card" >
                <p class="title">Hace 12 horas</p>
                <img class="card-img-top" src="./assets/img/premio2.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Airpods</h5>
                    <div class="row">
                        <div class="col-6">
                            Números comprados
                            <strong>4/41</strong>
                        </div>
                        <div class="col-6">
                            Valor N° rifa
                            <strong>$1.000 clp</strong>
                        </div>
                    </div>
                    <div class="contBtn">
                        <a href="#" class="btn btn-warning">Ver más</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4"> 
            <div class="card" >
                <p class="title">Hace 8 horas</p>
                <img class="card-img-top" src="./assets/img/premio1.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Perfume</h5>
                    <div class="row">
                        <div class="col-6">
                            Números comprados
                            <strong>0/41</strong>
                        </div>
                        <div class="col-6">
                            Valor N° rifa
                            <strong>$3.000 clp</strong>
                        </div>
                    </div>
                    <div class="contBtn">
                        <a href="#" class="btn btn-warning">Ver más</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-4"> 
            <div class="card" >
                <p class="title">Hace 20 horas</p>
                <img class="card-img-top" src="./assets/img/premio1.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Perfume</h5>
                    <div class="row">
                        <div class="col-6">
                            Números comprados
                            <strong>0/41</strong>
                        </div>
                        <div class="col-6">
                            Valor N° rifa
                            <strong>$3.000 clp</strong>
                        </div>
                    </div>
                    <div class="contBtn">
                        <a href="#" class="btn btn-warning">Ver más</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4"> 
            <div class="card" >
                <p class="title">Hace 12 horas</p>
                <img class="card-img-top" src="./assets/img/premio2.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Airpods</h5>
                    <div class="row">
                        <div class="col-6">
                            Números comprados
                            <strong>4/41</strong>
                        </div>
                        <div class="col-6">
                            Valor N° rifa
                            <strong>$1.000 clp</strong>
                        </div>
                    </div>
                    <div class="contBtn">
                        <a href="#" class="btn btn-warning">Ver más</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4"> 
            <div class="card" >
                <p class="title">Hace 8 horas</p>
                <img class="card-img-top" src="./assets/img/premio1.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Perfume</h5>
                    <div class="row">
                        <div class="col-6">
                            Números comprados
                            <strong>0/41</strong>
                        </div>
                        <div class="col-6">
                            Valor N° rifa
                            <strong>$3.000 clp</strong>
                        </div>
                    </div>
                    <div class="contBtn">
                        <a href="#" class="btn btn-warning">Ver más</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-4"> 
            <div class="card" >
                <p class="title">Hace 20 horas</p>
                <img class="card-img-top" src="./assets/img/premio1.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Perfume</h5>
                    <div class="row">
                        <div class="col-6">
                            Números comprados
                            <strong>0/41</strong>
                        </div>
                        <div class="col-6">
                            Valor N° rifa
                            <strong>$3.000 clp</strong>
                        </div>
                    </div>
                    <div class="contBtn">
                        <a href="#" class="btn btn-warning">Ver más</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4"> 
            <div class="card" >
                <p class="title">Hace 12 horas</p>
                <img class="card-img-top" src="./assets/img/premio2.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Airpods</h5>
                    <div class="row">
                        <div class="col-6">
                            Números comprados
                            <strong>4/41</strong>
                        </div>
                        <div class="col-6">
                            Valor N° rifa
                            <strong>$1.000 clp</strong>
                        </div>
                    </div>
                    <div class="contBtn">
                        <a href="#" class="btn btn-warning">Ver más</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4"> 
            <div class="card" >
                <p class="title">Hace 8 horas</p>
                <img class="card-img-top" src="./assets/img/premio1.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Perfume</h5>
                    <div class="row">
                        <div class="col-6">
                            Números comprados
                            <strong>0/41</strong>
                        </div>
                        <div class="col-6">
                            Valor N° rifa
                            <strong>$3.000 clp</strong>
                        </div>
                    </div>
                    <div class="contBtn">
                        <a href="#" class="btn btn-warning">Ver más</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

