.card{
    margin-top:40px;
    border: 2px solid #198754 !important;
    border-radius: 5px;
}

.card2{
    margin-top:40px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    border: 5px solid #198754 !important;
}

.title{
    color: #fff;
    background-color: #000;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 0;
}

.contBtn{
    text-align: right; 
    margin-top: 20px;
}

.card-body{
   background-color: #e6e6e6;
}