.aboutBg{
    background-color: #cbcbcb;
}

div{
    margin-bottom: 30px;
}

.preguntasBg{
    padding-top: 40px;
    padding-bottom: 40px;
    background:rgba(0, 0, 0, 0.6);
}

.p-top{
    padding-top: 40px;
   }

.txt-white, h2, h1{
    color:#FFF;
}

p{
    color: #198754;
    font-size: 18px;
}

