<app-navbar></app-navbar>
<div class="container  p-top">
    <div class="row preguntasBg">
        <h1 class="text-center txt-white">Sobre Nosotros</h1>
        <hr>
        <hr>
        <div class="col-sm-12 col-md-4 text-center">
            <h2>Genera dinero</h2>
            <p>Por cada Rifa sorteada exitosamente recibiras un pago que se sumará al total que lleves acumulado en la cuenta de Rifalotodo. El dinero *acumulado puede ser transferido a cualquier banco de Chile donde poseas una Cuenta Vista o Cuenta Corriente.</p>
        </div>
        <div class="col-sm-12 col-md-4 text-center">
            <h2>Gana Premios</h2>
            <p>Participa en las rifas de otros o en las tuyas si así lo deseas, compra los números de Rifas pagando de forma electrónica a tráves de cualquiera de los medios de pagos soportados, también puedes pagar utilizando el dinero acumulado en tu cuenta de Rifalotodo.</p>            
        </div>
        <div class="col-sm-12 col-md-4 text-center">
            <h2>Diviértete</h2>
            <p>Disfruta entre amigos organizando Rifas y juntar rapidamente dinero para por ejemplo financiar un asado, invitar a tu novia a cenar, comprar la consola de video juegos nextgen, etc. Entre más rifas exitosas logres concretar, más alternativas de disfrutar tendras.</p>
        </div>
    </div>
    <div class="row preguntasBg text-center">
        <h1 class="text-center txt-white">Garantias</h1>
        <h5 class="text-center txt-white"><i>La plataforma apoya la gestión y asegura que las rifas lleguen a buen termino</i></h5>
        <hr>
        <hr>
        <div class="col-sm-12 col-md-6 text-center">
            <h2>REEMBOLSO</h2>
            <p>En el momento en que una rifa es <b>cancelada</b> se realiza automaticamente el <b>reembolso</b> de todos los números comprados, el dinero queda <b>disponible en tú cuenta de Rifalotodo</b> para que puedas utilizarlo en cualquier otra rifa.</p>
        </div>
        <div class="col-sm-12 col-md-6 text-center">
            <h2>INDEMNIZACIÓN</h2>
            <p>Si por X motivos el organizador de la rifa no cumple con lo acordado, se <b>indemnizará</b> al ganador con un monto igual al <b>precio real del premio</b> , además el organizador obtendrá una <b>calificación negativa</b> y <b>NO podrá cobrar el pago</b> de dicha rifa.</p>
        </div>  
    </div>   
</div>
<app-footer></app-footer>