.aboutBg{
<<<<<<< HEAD
    background-color: #fff;
=======
    background-color: #cbcbcb;
>>>>>>> 8cef917569d967b80db0b8098d754db636014f02
}

div{
    margin-top: 30px;
    margin-bottom: 30px;
}
<<<<<<< HEAD
<<<<<<< HEAD
.texto-fondo, h1{
    color: #fff;
}
.texto-fondo h2 h1{
    text-align: center;
=======
=======
>>>>>>> 8cef917569d967b80db0b8098d754db636014f02

.preguntasBg{
    padding-top: 70px;
    padding-bottom: 40px;
    background:rgba(0, 0, 0, 0.6);
}

.p-top{
    padding-top: 150px;
   }

.txt-white, h2, h1{
    color:#FFF;
}

p{
    color: #198754;
}

.img-fluid{
    width: 500px;
    
<<<<<<< HEAD
>>>>>>> 8cef917569d967b80db0b8098d754db636014f02
=======
>>>>>>> 8cef917569d967b80db0b8098d754db636014f02
}