<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Perfume</h1>
        </div>
    </div>
    <div class="row">
        
        <div class="col-sm-12 col-md-6">
            <img class="img-fluid" src="./assets/img/premio1.jpg" alt="">
        </div>
        <div class="col-sm-12 col-md-6 ">
            <h2 class="text-center">Elige los números</h2>
            <div class="text-center xyz m-top">
                <button (click)="enableDisableRule()"  [ngClass]="{'yellow' : toggle, 'grey': !toggle}" type="button" class="btn btn-warning btn-circle btn-sm">1</button>
                <button data-toggle="modal" data-target="#exampleModal" type="button" class="btn btn-warning btn-circle btn-sm">2</button>
                <button type="button" class="grey btn btn-warning btn-circle btn-sm">3</button>
                <button type="button" class="btn btn-warning btn-circle btn-sm">4</button>
                <button type="button" class="btn btn-warning btn-circle btn-sm">5</button>
                <button type="button" class="btn btn-warning btn-circle btn-sm">6</button>
                <button type="button" class="btn btn-warning btn-circle btn-sm">7</button>
                <button type="button" class="grey btn btn-warning btn-circle btn-sm">8</button>
                <button type="button" class="btn btn-warning btn-circle btn-sm">9</button>
                <button type="button" class="grey btn btn-warning btn-circle btn-sm">10</button>
            </div>
            <div class="text-center xyz">
                <button type="button" class="btn btn-warning btn-circle btn-sm">11</button>
                <button type="button" class="btn btn-warning btn-circle btn-sm">12</button>
                <button type="button" class="btn btn-warning btn-circle btn-sm">13</button>
                <button type="button" class="grey btn btn-warning btn-circle btn-sm">14</button>
                <button type="button" class="btn btn-warning btn-circle btn-sm">15</button>
                <button type="button" class="btn btn-warning btn-circle btn-sm">16</button>
                <button type="button" class="btn btn-warning btn-circle btn-sm">17</button>
                <button type="button" class="btn btn-warning btn-circle btn-sm">18</button>
                <button type="button" class="btn btn-warning btn-circle btn-sm">19</button>
                <button type="button" class="btn btn-warning btn-circle btn-sm">20</button>
            </div>
            <div class="text-center xyz">
                <button type="button" class="btn btn-warning btn-circle btn-sm">21</button>
                <button type="button" class="btn btn-warning btn-circle btn-sm">22</button>
                <button type="button" class="btn btn-warning btn-circle btn-sm">23</button>
                <button type="button" class="grey btn btn-warning btn-circle btn-sm">24</button>
                <button type="button" class="btn btn-warning btn-circle btn-sm">25</button>
                <button type="button" class="btn btn-warning btn-circle btn-sm">26</button>
                <button type="button" class="grey btn btn-warning btn-circle btn-sm">27</button>
                <button type="button" class="btn btn-warning btn-circle btn-sm">28</button>
                <button type="button" class="btn btn-warning btn-circle btn-sm">29</button>
                <button type="button" class="btn btn-warning btn-circle btn-sm">30</button>
            </div>
            <div class="text-center xyz">
                <button type="button" class="btn btn-warning btn-circle btn-sm">31</button>
                <button type="button" class="btn btn-warning btn-circle btn-sm">32</button>
                <button type="button" class="btn btn-warning btn-circle btn-sm">33</button>
                <button type="button" class="grey btn btn-warning btn-circle btn-sm">34</button>
                <button type="button" class="btn btn-warning btn-circle btn-sm">35</button>
                <button type="button" class="grey btn btn-warning btn-circle btn-sm">36</button>
                <button type="button" class="grey btn btn-warning btn-circle btn-sm">37</button>
                <button type="button" class="btn btn-warning btn-circle btn-sm">38</button>
                <button type="button" class="btn btn-warning btn-circle btn-sm">39</button>
                <button type="button" class="btn btn-warning btn-circle btn-sm">40</button>
            </div>
            
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">  Saldo insuficiente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                <i class="fas fa-info"></i>
                No tienes saldo suficiente para comprar el número de rifa, haz click para cargar más dinero.
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button class="close" data-dismiss="modal" aria-label="Close"  routerLink="/button-payment" type="button" class="btn btn-warning">Cargar dinero</button>
                </div>
            </div>
            </div>
        </div>
        </div>
        <div class="col-sm-12 col-md-6 m-bottom">
            <p>La rifa se realiza con mínimo 10 números</p>
            <p>Está rifa expira el 10-07-2021</p>
            <h3>Comparte esta rifa</h3>
            <div>
                <span><a href=""><i class="fab fa-facebook-square"></i></a></span>
                <span><a href=""><i class="fab fa-google-plus-square"></i></a></span>
                <span><a href=""><i class="fab fa-twitter-square"></i></a></span>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>