<app-navbar></app-navbar>
<div class="container">
    <input type="button" value="MÁS RIFAS" class="btn btn-warning">
    <input type="button" value="VOLVER" class="btn btn-warning ms-1">
    <div class="row">
        <div class="col-12">
            <h1>Perfume</h1>
            <hr>
        </div>
        <div class="col-sm-12 col-md-6">
            <img class="img-fluid" src="./assets/img/premio1.jpg" alt="">
        </div>
        <div class="col-sm-12 col-md-6">
            <h2 class="text-center">Elige los numeros</h2>
            <div class="row grid text-center">
               <div class="col-3">1</div>
               <div class="col-3">2</div>
               <div class="col-3">3</div>
               <div class="col-3">4</div>
               <div class="col-3">5</div>
               <div class="col-3">6</div>
               <div class="col-3">7</div>
               <div class="col-3">8</div>
               <div class="col-3">9</div>
               <div class="col-3">10</div>
               <div class="col-3">11</div>
               <div class="col-3">12</div>
               <div class="col-3">13</div>
               <div class="col-3">14</div>
               <div class="col-3">15</div>
               <div class="col-3">16</div>
               <div class="col-3">17</div>
               <div class="col-3">18</div>
               <div class="col-3">19</div>
               <div class="col-3">20</div>
               <div class="col-3">21</div>
               <div class="col-3">22</div>
               <div class="col-3">23</div>
               <div class="col-3">24</div>
               <div class="col-3">25</div>
               <div class="col-3">26</div>
               <div class="col-3">27</div>
               <div class="col-3">28</div>
               <div class="col-3">29</div>
               <div class="col-3">30</div>
               <div class="col-3">31</div>
               <div class="col-3">32</div>
               <div class="col-3">33</div>
               <div class="col-3">34</div>
               <div class="col-3">35</div>
               <div class="col-3">36</div>
               <div class="col-3">37</div>
               <div class="col-3">38</div>
               <div class="col-3">39</div>
               <div class="col-3">40</div>
               <div class="col-3">41</div>
            </div>
        </div>
        <div class="col-6">
            <h5>La rifa se realiza con mínimo 10 números</h5>
            <h5>Está rifa expira el 10-07-2021</h5>
            <h3>Comparte esta rifa</h3>
            <span><a href=""><i class="fab fa-facebook-square"></i></a></span>
            <span><a href=""><i class="fab fa-google-plus-square"></i></a></span>
            <span><a href=""><i class="fab fa-twitter-square"></i></a></span>
        </div>
    </div>
</div>
<app-footer></app-footer>