.container{
    width: 500px !important;
}
.img-luna{
    width: 200px;
}
a{
    color: black !important;
}

.box{
    
    height: 400px;
    margin-bottom: 30px;
}

p{
    font-size: 18px;
}

.m-top{
    margin-top: 60px;
    }

