.navbarColor{
    background-color: #222222;
   
}


.btnSaldo{
    background-color: #FFC312;
}

.alert{
  color: #FFC312;
  padding: 0;
  font-size: 30px;
  margin-top: 15px;

}

.yellow{
    color: #FFC312;
}
.logo{
    width: 200px;
}

.nav-item{
    margin-right: 10px;
}

.nav-item2{
    margin-right: 10px;
}

li{
    list-style:none;
}

.icSmile{
    padding-left: 0px;
}

.text{
    color:#919191;
    text-align: center;
    font-weight: bolder;
    font-size: 18px;
}


.borde-a{
    padding: 0;
    border-bottom: 4px solid #E3350D;
    .fa-door-open{
        display: none;
    }
    div .fa-door-closed{
        display: block;
    }
}
.borde-a div:hover{
    background-color: #E3350D;
    i,a{color: #fff;
    }
    .fa-door-open{
        display: block;
    }
    div .fa-door-closed{
        display: none;
    }
}



.borde-b{
    padding: 0;
    border-bottom: 4px solid  #E6B62F;
    .fa-times{
        display: block;
    }
    div .fa-plus{
        display: none;
    }
}

.borde-b div:hover{
    background-color: #E6B62F;
    i,a{color: #fff;
    }
    .fa-times{
        display: none;
    }
    div .fa-plus{
        display: block;
    }
}

.borde-c{
    padding: 0;
    border-bottom: 4px solid  #4DAD5B;
    .fa-smile-wink{
        display: none;
    }
    div .fa-flushed{
        display: block;
    }
}

.borde-c div:hover{
    background-color: #4DAD5B;
    i,a{color: #fff;
    }
    .fa-smile-wink{
        display: block;
    }
    div .fa-flushed{
        display: none;
    }
}

.borde-d{
    padding: 0;
    border-bottom: 4px solid  #30A7D7;
    .fa-comment-dots{
        display: none;
    }
    div .fa-question{
        display: block;
    }
}

.borde-d:hover{
    background-color: #30A7D7;

    i,a{color: #fff;
    }
    .fa-comment-dots{
        display: block;
    }
    div .fa-question{
        display: none;
    }
}


.fasmenu2{
    color:#919191;
    text-align: center;
    font-weight: bolder;
    font-size: 30px; 
    padding-bottom: 0;
}

a{
    padding-top: 2px;
    color:#919191;
}

.btn{
    background-color: #E3350D;
    color: #fff;
}

.sticky-top{
    z-index: 999;
    background: rgb(248,249,250);
    background: linear-gradient(90deg, rgba(248,249,250,1) 100%, rgba(252,253,253,1) 0%, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%);
}

.navbarDropdown{
    z-index: 9999;
}