.navbarColor{
    background-color: #222222;
   
}

.textNavBar{
    color: #FFFCFF !important;
    font-size: 20px;
}


.btnSaldo{
    background-color: #FFC312;
}

.alert{
  color: #FFC312;
  padding: 0;
  font-size: 30px;
  margin-top: 15px;

}

.yellow{
    color: #FFC312;
}
.logo{
    width: 200px;
}

.nav-item{
    margin-right: 10px;
}

.nav-item2{
    margin-right: 10px;
}

li{
    list-style:none;
}

.icSmile{
    padding-left: 0px;
}