.navbarColor{
    background-color: #222222;
   
}

.textNavBar{
    color: #FFFCFF !important;
    font-size: 20px;
}


.btnSaldo{
    background-color: #FFC312;
}

.logo{
    width: 200px;
}

.nav-item{
    margin-right: 30px;
}

li{
    list-style:none;
}