.container{
    width: 500px !important;
}
button{
    padding: 10px 80px !important;
    color: #fff  !important;
    font-weight: bold !important;
}

.m-top{
    margin-top: 60px;
    }
    
.m-bottom{
        margin-bottom: 60px;
}

p{
    font-size: 18px;
}