<app-navbar></app-navbar>
<div class="container text-center">
    <h1>Inicio de sesión</h1>
    <hr>
    <div class="row">
        <div class="col-12">
            <form action="" class="formRegistro">
                <input class="form-control m-3" type="text" placeholder="Rut" id="rut" required>
                <input class="form-control m-3" type="text" placeholder="Usuario" id="user" required>
                <input class="form-control m-3" type="password" placeholder="Contraseña" id="pass" required>
                <input class="btn btn-primary m-2" type="submit" value="Ingresar">
                <input class="btn btn-secondary m-2" type="reset" value="Limpiar">
            </form>
        </div>
    </div>
</div>
<app-footer></app-footer>