<!doctype html>
<html lang="en">
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="background-image: url(./assets/img/dark-canvas-background-2353.png)">
    <app-navbar></app-navbar>
    <div class="container">
        <div class="col-sm-12 col-md-10 offset-md-1"> 
        <h1 class="text-center text-light m-top">Crear Rifa</h1>
        <p class="text-center text-light">Desde esta vista puedes publicar facilmente tus propias rifas.</p>
        <div class="bg-light row content">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item bg-warning" role="presentation">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                    aria-selected="true">Paso 1</a>
                </li>
                <li class="nav-item bg-warning" role="presentation">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                    aria-selected="false">Paso 2</a>
                </li>
                <li class="nav-item bg-warning" role="presentation">
                    <a class="nav-link" id="paso3-tab" data-toggle="tab" href="#paso3" role="tab" aria-controls="paso3"
                    aria-selected="false">Paso 3</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <p class="title">Agregar Premio</p>
                    <div class="bg-warning bR">
                        <p class="p-3">Es requisito que el Precio Real del premio sea consistente con lo que estás rifando, este
                        valor se utilizará
                        para compensar al ganador si tu rifa es fallida, si mientes sobre esto,
                        estarás afectando al futuro ganador. Toda rifa que no cumpla este requisito será desactivada.</p>
                    </div>
                    <div class="bg-light">
                        <form action="">
                            <label for="nombre" class="form-label"><b>Nombre</b></label>
                            <input id="nombre" type="text" class="form-control" placeholder="Ej: Pisco Horcon 40°" required>
                            <label for="Descripcion" class="form-label"><b>Descripción</b></label>
                            <textarea id="Descripcion" class="form-control" rows="4" cols="50"
                                placeholder="Ej: Graduación 40°, contenido: 660cc" required></textarea>
                            <label for="precio" class="form-label"><b>Precio Real [$CLP]</b></label>
                            <input id="precio" type="number" class="form-control" placeholder="Ej: 9000" min="990" required>
                            <label for="precio" class="form-label"><b>Categoría</b></label>
                            <select class="form-select" required>
                                <option value="" class="" selected>-- Selecciona una Opción--</option>
                                <option label="Accesorios para Vehículos" value="1">Accesorios para Vehículos</option>
                                <option label="Animales y Mascotas" value="2">Animales y Mascotas</option>
                                <option label="Arte y Antigüedades" value="3">Arte y Antigüedades</option>
                                <option label="Autos, Motos y Otros" value="4">Autos, Motos y Otros</option>
                                <option label="Bebés" value="5">Bebés</option>
                                <option label="Cámaras y Accesorios" value="6">Cámaras y Accesorios</option>
                                <option label="Celulares y Telefonía" value="7">Celulares y Telefonía</option>
                                <option label="Coleccionables y Hobbies" value="8">Coleccionables y Hobbies</option>
                                <option label="Computación" value="9">Computación</option>
                                <option label="Consolas y Videojuegos" value="10">Consolas y Videojuegos</option>
                                <option label="Deportes y Fitness " value="11">Deportes y Fitness </option>
                                <option label="Electrodomésticos" value="12">Electrodomésticos</option>
                                <option label="Electrónica, Audio y Video" value="13">Electrónica, Audio y Video</option>
                                <option label="Entradas para Eventos" value="14">Entradas para Eventos</option>
                                <option label="Herramientas y Construcción" value="15">Herramientas y Construcción</option>
                                <option label="Hogar y Muebles" value="16">Hogar y Muebles</option>
                                <option label="Industrias y Oficinas" value="17">Industrias y Oficinas</option>
                                <option label="Inmuebles" value="18">Inmuebles</option>
                                <option label="Instrumentos Musicales" value="19">Instrumentos Musicales</option>
                                <option label="Juegos y Juguetes" value="20">Juegos y Juguetes</option>
                                <option label="Libros, Revistas y Comics" value="21">Libros, Revistas y Comics</option>
                                <option label="Música y Películas" value="22">Música y Películas</option>
                                <option label="Relojes y Joyas" value="23">Relojes y Joyas</option>
                                <option label="Salud y Belleza" value="24">Salud y Belleza</option>
                                <option label="Servicios" value="25">Servicios</option>
                                <option label="Vestuario y Calzado" value="26">Vestuario y Calzado</option>
                                <option label="Otras Categorías" value="27">Otras Categorías</option>
                            </select>
                            <div class="row mt-3 mb-5">
                                <div class="col-10 ">
                                    <input class="addImg" type="file" value="AGREGAR FOTO" accept="image/png, .jpeg, .jpg, image/gif" required>
                                </div>
                                <div class="col-2 text-end">
                                    <p><b>0/5</b></p>
                                </div>
                            </div>
                            <div class="row btnCont">
                                <button class="col-sm-12 col-md-3 offset-md-1 btn btn-secondary" type="reset">Cancelar</button>
                                <button class="col-sm-12 col-md-3 offset-md-4 btn btn-success" type="submit">Continuar</button>
                            </div>
                           
                        </form>
                    </div>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <p class="title">Configura tu Rifa</p>
                    <form action="">
                        <label for="titulo" class="form-label"><b>Título</b></label>
                        <input id="titulo" type="text" class="form-control" placeholder="Ej: x2 Sixpacks Cervezas Royal" required>
                        <div class="text-center cantNum">
                            <p class="mt-2 "><b>Cantidad de números</b></p>
                            <input id="10" type="radio" name="numeros" value="10">
                            <label class="lblNumber" for="10">10</label>
                            <input id="23" type="radio" name="numeros" value="23">
                            <label class="lblNumber" for="23">23</label>
                            <input id="41" type="radio" name="numeros" value="41">
                            <label class="lblNumber" for="41">41</label>
                        </div>
                        <label for="Descripcion" class="form-label"><b>Información Adicional</b></label>
                        <textarea id="Descripcion" class="form-control" rows="4" cols="50"
                        placeholder="Ej: En esta oportunidad se incluirá el despacho gratuito a tráves de Cabify Express dentro de la ciudad de Santiago@Chile."
                        required></textarea>

                        <div class="m-top-txt">
                            <label for="region" class="form-label"><b>Región</b></label>
                            <input id="region" type="text" class="form-control" placeholder="Ej: Región Metropolitana" required>
                        </div>
                        
                        <div class="m-top-txt">
                            <label for="comuna" class="form-label"><b>Comuna o Ciudad</b></label>
                            <input id="comuna" type="text" class="form-control" placeholder="Ej: Santiago" required>
                        </div>
                        
                        <div class="m-top-txt">
                            <label style="display: block;" for="comuna" class="form-label"><b>Formas de Entrega</b></label>
                            <input  type="checkbox" id="Cabify"><label class="m-left" for="Cabify">Cabify Express</label><br>
                            <input  type="checkbox" id="region"><label class="m-left" for="region">A Región por pagar</label><br>
                            <input type="checkbox" id="metro"><label class="m-left" for="metro">Estación de Metro</label><br>
                            <input  type="checkbox" id="acuerdo"><label class="m-left" for="acuerdo">Previo Acuerdo</label><br>
                            <div class="row btnCont">
                                <button class="col-sm-12 col-md-3 offset-md-1 btn btn-secondary" type="reset">Cancelar</button>
                                <button class="col-sm-12 col-md-3 offset-md-4 btn btn-success" type="submit">Continuar</button>
                            </div>
                        </div>
                       
                    </form>
                </div>
                <div class="tab-pane fade" id="paso3" role="tabpanel" aria-labelledby="paso3-tab">
                    <p class="title">Calculadora</p>
                    <p>Define el valor propuesto por número de la rifa escogiendo cuantas veces más el precio real quieres ganar o define directamente el valor de cada número.</p>
                    <h2>Nombre de la rifa</h2>
                    <p>(Precio Real $12.123.231 CLP)</p>
                    <p class="bg-dark text-light mt-2 mb-2">Cantidad Números #41</p>
                    <p><u>Valor Número</u></p>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 bg-warning">
                                <input type="checkbox" id="propuesto"><label for="propuesto"><b>Propuesto:</b></label>
                                <h4 class="text-center">Valor en clp</h4>
                                <div class="text-center">
                                    <p>Multiplicador</p>
                                    <input id="2" type="radio" name="multi" value="2">
                                    <label class="lblNumber" for="2">2</label>
                                    <input id="3" type="radio" name="multi" value="3">
                                    <label class="lblNumber" for="3">3</label>
                                    <input id="4" type="radio" name="multi" value="4">
                                    <label class="lblNumber" for="4">4</label>
                                </div>              
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="contMonto">
                                    <b> Otro: </b>
                                    <input class="npt" type="number"><span> CLP</span>
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
                    <p class="mt-3"><u>Finanzas</u></p>
                    <p>...Calculando...</p>
                    <p class="bg-dark text-light">Pago            $21.822.660 CLP</p>
                    <div class="btnCont">
                        <button class="col-sm-12 col-md-3 offset-md-1 btn btn-secondary" type="reset">Cancelar</button>
                        <button class="col-sm-12 col-md-3 offset-md-4 btn btn-success" type="submit">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    
    
    </div>
</div>   
    <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">¿Esta seguro que desea guardar ?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>Por favor revise todos los datos de su rifa antes de continuar</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-warning" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-warning"><a href="https://www.flow.cl/">Si</a></button>
        </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>
