
a{
    color: black !important;
}

.m-top{
margin-top: 30px;
}

.mt-5{
    padding: 20px;
}

.title{
    margin-top: 10px;
    font-size: 40px;
    font-weight: bolder;
}

.bR{
    border-radius: 10px;
}

.form-label{
    margin-top: 10px;
}

.addImg{
    width: 100%;
}

.btnCont{
    padding: 10px 80px;
    color: #fff ;
    font-weight: bold ;
    margin-bottom: 30px;
    button{
        margin-bottom: 10px;
    }
}

.content{
    margin-bottom: 30px;
}

.lblNumber{
    margin-right: 5px;
}

.cantNum{
    margin-top: 20px;
}

.m-left{
    padding-left: 10px;
}

.m-top-txt{
    margin-top:15px;
}

.contMonto{
    margin-top: 20px;
}