.container{
    width: 500px !important;
}
.img{
    width: 100px;
}
input{
    color: #fff !important;
    font-weight: bold !important;
}

.bg{
    background:rgba(0, 0, 0, 0.6);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.form-label{
    color: #fff;
}
