<app-navbar></app-navbar>
<div class="container">
    <h1 class="text-center text-light">MI CUENTA</h1>
    <div class="row text-center ">
        <div style=" background:rgba(0, 0, 0, 0.6)" class="bg">
            <div class="col-12">
                <img class="img img-fluid" src="./../../assets/img/profile.png" alt=""><br>
                <input class="btn btn-warning mt-2" type="file" name="nuevaFoto" id="archivo" accept="image/png, .jpeg, .jpg, image/gif">
            </div>
            <div class="col-12 mt-5">
                <form action="">
                    <label for="email" class="form-label"><b>Dirección E-Mail</b></label>
                    <input id="email" type="email" class="form-control">
                    <br>
                    <label for="nombre" class="form-label"><b>Nombre o Apodo</b></label>
                    <input id="nombre" type="text" class="form-control">
                    <br>
                    <label for="clave" class="form-label"><b>Contraseña</b></label>
                    <input id="clave" type="password" class="form-control">
                    <br>
                    <label for="telefono" class="form-label"><b>Teléfono Contacto</b></label>
                    <input id="telefono" type="text" class="form-control">
                    <input class="mt-2 btn btn-warning" type="submit" value="Guardar cambios">
                </form>
                
            </div>
        </div>
        
    </div>
</div>
<app-footer></app-footer>
