<app-navbar></app-navbar>
<div class="container m-top m-bottom">
    <h1 class="text-center text-light">ESTADO DE CUENTA</h1>
    <p class="text-center text-light">Desde esta vista puedes revisar cada uno de los pagos que hayas recibido o realizado. 
      Revisa el detalle al tocar cualquiera de los registros.</p>
      <div class="row bg-light text-center">
        <div class="col-12">
          <button class="btn btn-warning mb-3 mt-5">RETIRAR DINERO</button>
      </div>
         <div class="col-12">
           <p>A la fecha no existen movimientos</p>
         </div>
      </div>
  </div>

<app-footer></app-footer>