<app-navbar></app-navbar>
<div style="background-image: url(./../../assets/img/dark-canvas-background-2353.png)" class="bgImg row">
    <div class="col-10 bgTransparent offset-md-1">
        <div class="container welcomeMsj">
            <div class="row textWhite">
                <p >La mejor plataforma de sorteos y premios online</p> 
            </div>  
        </div>
        
        <app-carousel></app-carousel>
        
        <div id="inicio" class="contButton">
            <button type="button" class="btn btn-warning">Ver todas las rifas</button>
        </div>
        
        <app-card></app-card>
    </div>
    
</div>

<app-footer></app-footer>