

.welcomeMsj{
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    text-transform: uppercase;
}

.contButton{
    margin-top: 40px;
    text-align: center;
    button{
        font-size: 30px;
        font-weight: bolder;
    }
}


.btn{
    animation: bounce;
    animation-duration: 2s;
    --animate-infinite: infinite;
}

.bgTransparent {
    padding-top: 40px;
    padding-bottom: 40px;
    background:rgba(247, 244, 244, 0.5);
}

.textWhite{
    color:#484848;
}


h1{
    margin-top: 40px;
   text-align: center; 
   font-weight: bolder;
   color:#484848;
}

.alert-danger{
    margin-top: 40px;
    font-size: 25px;
    font-weight: bold;
}