

.welcomeMsj{
    
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    text-transform: uppercase;
}

.contButton{
    margin-top: 40px;
    text-align: center;
    button{
        font-size: 30px;
        font-weight: bolder;
    }
}


.btn{
    animation: bounce;
    animation-duration: 2s;
    --animate-infinite: infinite;
}

.bgTransparent {
    padding-top: 70px;
    padding-bottom: 40px;
    background:rgba(0, 0, 0, 0.6);
}

.textWhite{
    color:#fff;
}

.bgImg{
    padding-top: 100px;
}

h1{
    margin-top: 40px;
   text-align: center; 
   font-weight: bolder;
   color:#fff;
}